.contact__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #ffa820;
  font-size: 30px;
  text-align: center;
  padding-top: 65px;
  margin-bottom: 20px;
}

.contact__paragraph {
  color: #ccc;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-bottom: 50px;
}