<section class="contact">

	<h3 class="contact__title">Contact Us</h3>
	<p class="contact__paragraph">you can request a movie</p>

		<form class="contact__form">

			<lable class="contact__item">
				<i class="form__icon form__icon-user" aria-hidden="true"></i>
				<input type="text" placeholder="Name" class="contact__input" aria-hidden="true">
			</lable>

			<lable class="contact__item"> 
				<i class="form__icon form__icon-tag" aria-hidden="true"></i>
				<input type="text" placeholder="Subject" class="contact__input" aria-hidden="true">
			</lable>

			<lable class="contact__item">
				<i class="form__icon form__icon-envelope" aria-hidden="true"></i>
				<input type="email" placeholder="Email" class="contact__input" aria-hidden="true">
			</lable>

			<div>
				<i class="form__icon form__icon-pencil" aria-hidden="true"></i>
				<textarea name="text" placeholder="Message ..." class="contact__text" aria-hidden="true"></textarea>
			</div>

			<button type="submit" class="contact__btn">
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
			Send
			</button>
	</form>
	
</section>