<section class="form-comment">
	
		<h4 class="comment__title">Leave a comment</h4>

		<form class="comment__form">

			<div>
				<i class="comment__icon comment__icon-user" aria-hidden="true"></i>
				<input type="text" placeholder="Name" class="comment__input" aria-hidden="true">
			</div>

			<div>
				<i class="comment__icon comment__icon-envelope" aria-hidden="true"></i>
				<input type="email" placeholder="Email" class="comment__input" aria-hidden="true">

			</div>
			
			<div>
				<i class="comment__icon comment__icon-comment" aria-hidden="true"></i>
				<textarea name="text" placeholder="Comment" class="comment__text" aria-hidden="true"></textarea>
			</div>

			<button type="submit" class="comment__btn">
			<i class="fa fa-comment-o" aria-hidden="true"></i>
			Comment
			</button>

		</form>
	
</section>
