  		<div class="movie-cast">
  			<h3 class="movie-cast-title">Cast</h3>
				<ul class="movie-cast-list">
					<li class="movie-cast-item clearfix">
						<div class="movie-cast-item-photo-column">
							<img src="../images/andrew.png"" class="movie-cast-img">
						</div>
						<div class="movie-cast-item-text-column">
							<p class="movie-cast-name">Andrew Garfield as <span class="movie-cast-role">Spider-Man/Peter Parker</span>
							</p> 
						</div>
					</li>
					<li class="movie-cast-item clearfix">
						<div class="movie-cast-item-photo-column">
							<img src="../images/emma.png"" class="movie-cast-img">
						</div>
						<div class="movie-cast-item-text-column">
							<p class="movie-cast-name">Emma Stone as <span class="movie-cast-role">Gwen Stacy</span>
							</p> 
						</div>
					</li>
					<li class="movie-cast-item clearfix">
						<div class="movie-cast-item-photo-column">
							<img src="../images/jamie.png"" class="movie-cast-img">
						</div>
						<div class="movie-cast-item-text-column">
							<p class="movie-cast-name">Jamie Foxx as <span class="movie-cast-role">Electro/Max Dillon</span>
							</p> 
						</div>
					</li>
					<li class="movie-cast-item clearfix">
						<div class="movie-cast-item-photo-column">
							<img src="../images/paul.png"" class="movie-cast-img">
						</div>
						<div class="movie-cast-item-text-column">
							<p class="movie-cast-name">Paul Giamatti as <span class="movie-cast-role">Aleksei Sytsevich</span>
							</p> 
						</div>
					</li>
					<li class="movie-cast-item clearfix">
						<div class="movie-cast-item-photo-column">
							<img src="../images/andrew2.png"" class="movie-cast-img">
						</div>
						<div class="movie-cast-item-text-column">
							<p class="movie-cast-name">Andrew Garfield as <span class="movie-cast-role">Spider-Man/Peter Parker</span>
							</p> 
						</div>
					</li>
				</ul>
		</div>
