		<div class="movie-reviews">
			<h3 class="movie-reviews-title">Movie Reviews</h3>
				<ul class="movie-reviews-list">
					<li class="movie-reviews-item clearfix">
						<div class="movie-reviews-item-photo-column">
							<img src="../images/nancy-doe.png"" class="movie-reviews-img">
						</div>
						<div class="movie-reviews-item-text-column">
							<p class="movie-reviews-name">Nancy Doe &#8212; <span class="movie-reviews-profession">Creative artist</span>
							<span class="rating review-rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
								<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
							</span>
							</p> 
							<p class="movie-reviews-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
							</p>
						</div>
					</li>
					<li class="movie-reviews-item clearfix">
						<div class="movie-reviews-item-photo-column">
							<img src="../images/nancy-doe.png"" class="movie-reviews-img">
						</div>
						<div class="movie-reviews-item-text-column">
							<p class="movie-reviews-name">Nancy Doe &#8212; <span class="movie-reviews-profession">Creative artist</span>
							<span class="rating review-rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
								<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
							</span>
							</p> 
							<p class="movie-reviews-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
							</p>
						</div>
					</li>
					<li class="movie-reviews-item clearfix">
						<div class="movie-reviews-item-photo-column">
							<img src="../images/nancy-doe.png"" class="movie-reviews-img">
						</div>
						<div class="movie-reviews-item-text-column">
							<p class="movie-reviews-name">Nancy Doe &#8212; <span class="movie-reviews-profession">Creative artist</span>
							<span class="rating review-rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
								<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
							</span>
							</p> 
							<p class="movie-reviews-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							</p>
						</div>
					</li>
				</ul>
		</div>
