<section class="movie-description section">
	
	<div class="movie-description-wrap container">

		<div class="photo-and-buying-wrap clearfix">
		
			<div class="movie-photo-column">

				<img src="../images/movie_info/spiderman-photo.png" alt="image" class="movie-photo">

			</div>

			<div class="movie-description-column">

				<div class="buying-information-wrap clearfix">

					<div class="buying-information-column">
						<h1 class="buying-information-title">
							The Amazing spider man
						</h1>
						<p class="release-date">
							released on 2014
						</p>
						<figure class="tag-wrap">
							<div class="tag-icon">
								<i class="fa fa-tag" aria-hidden="true"></i>
							</div>
							<span>
								Action, Adventure
							</span>
						</figure>
						<div class="movie-price-wrap clearfix">
							<div class="movie-price">
								$20
							</div>
							<div class="old-movie-price">
								$30
							</div>
						</div>
						<div class="rating">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
							<i class="fa fa-star fa-star-none" aria-hidden="true"></i>
						</div>
						<div class="quality-wrap">
							<p class="movie-quality--item">
								3D
							</p>
							<p class="movie-quality--item">
								1080p
							</p>
							<p class="movie-quality--item">
								720p
							</p>
						</div>
					</div>
					<div class="buying-information-buttons-column">
						<div>
							<button class="button add-to-cart" type="input">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
								<span>
									Add to cart
								</span>
							</button>
							<button class="button add-to-collection" type="input">
								<i class="fa fa-plus" aria-hidden="true"></i>
								<span>
									Add to collection
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="synopsis-wrap clearfix">
			<div class="synopsis">
				<h2 class="synopsis-title">
					Synopsis
				</h2>
				<p class="synopsis-text">
					We've always known that Spider-Man's most important conflict has been within himself: the struggle between the ordinary obligations of Peter Parker and the extraordinary responsibilities of Spider-Man. But in The Amazing Spider-Man 2, Peter Parker finds that his greatest battle is about to begin. It's great to be Spider-Man. For Peter Parker, there's no feeling quite like swinging between skyscrapers, embracing being the hero, and spending time with Gwen. But being Spider-Man comes at a price: only Spider-Man can protect his fellow New Yorkers from the formidable villains that threaten the city. With the emergence of Electro, Peter must confront a foe far more powerful than he. And as his old friend, Harry Osborn, returns, Peter comes to realize that all of his enemies have one thing in common: Oscorp.
				</p>
			</div>
		</div>
	</div>

</section>