<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../sass/blocks/_footer.scss">
	<title></title>
</head>
<body>




<footer class="footer">
<div class="container">
	<div class="footer-text">all copyrights are reserved for aflam © 2015</div>

	<div class="footer-logo">
	<ul class="footer-logo-list">
		<li class="footer-logo-item">
			<a class="footer-logo-link" href="" title="">
				<img class="footer-logo-img" src="../images/sprite/bg.png" alt="smth-logo">
			</a>

		</li>
		<li class="footer-logo-item">
			<a class="footer-logo-link" href="" title="">
				<img class="footer-logo-img" src="../images/sprite/twitter.png" alt="twitter-logo">
			</a>

	</li>
		<li class="footer-logo-item">
			<a class="footer-logo-link" href="" title="">
				<img class="footer-logo-img" src="../images/sprite/fb.png" alt="facebook-logo">
			</a>

	</li>
	</ul>
	</div>
	</div>
</footer>


</body>
</html>