<header class="header">
			<div class="container clearfix">
				<div class="logo">
					<figure class="logo-img">
						<img src="../images/sprite/icon-1.png" alt="logo">
					</figure>
				</div>
				<nav id="menu">
					<ul class="main-menu">
						<li><a href="#home">Home</a></li>
						<li><a href="#rowse_movies">Browse movies</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li>
						<img src="../images/sprite/icon-2.png" alt="search" class="search">
						</li>
					</ul>
				</nav>
			</div>
</header>