<header class="header">
			<div class="container clearfix">
				<div class="logo">
					<figure class="logo-img">
					</figure>
				</div>
				<nav class="menu">
						<a href="home.html" class="menu-item">
							Home
						</a>
						<a href="browse-movies.html" class="menu-item">
							Browse movies
						</a>
						<a href="BlogRightSide.html" class="menu-item">
							Blog
						</a>
						<a href="home.html" class="menu-item">
							About
						</a>
						<a href="contact.html" class="menu-item">
							Contact
						</a>
						<a class="fa-icon menu-item">
							<span>Search</span>
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
				</nav>
			</div>
</header>