<div class="title">Popular posts</div>
<ul class="popular-posts">
	<li>
		<img src="/images/popular-post.jpg" alt="Post Avatar">
		<div>
			<div class='post-title'>Most popular blog post</div>
			<div class="post-credit">by <span>Ahmed Nasser</span></div>
			<p class='post-text'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			</p>
		</div>
	</li>
	<li>
		<img src="/images/popular-post.jpg" alt="Post Avatar">
		<div>
			<div class='post-title'>Most popular blog post</div>
			<div class="post-credit">by <span>Ahmed Nasser</span></div>
			<p class='post-text'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			</p>
		</div>
	</li>
	<li>
		<img src="/images/popular-post.jpg" alt="Post Avatar">
		<div>
			<div class='post-title'>Most popular blog post</div>
			<div class="post-credit">by <span>Ahmed Nasser</span></div>
			<p class='post-text'>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			</p>
		</div>
	</li>
</ul>
