.blog-header {
	background: url(/images/blog-header-bg.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	text-align: center;
	padding: 205px 0 210px;
	box-sizing: border-box;

	
	.container {
		position: relative;
		max-width: 630px;
	}
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#25254e, .75);
	}

	h2 {
		color: #fff;
		font-style: italic;
		font-weight: normal;
		font-size: 35px;
		margin-bottom: 20px;
	}

	p {
		font-size: 15px;
		color: #fff;
		line-height: 24px;
	}

	.buttons-group {
		font-size: 0;
		margin-top: 30px;
	}
	
	.button {
		display: inline-block;
		font-size: 15px;
		padding: 20px 30px;
		box-sizing: border-box;
		
		&:first-child {
			color: #25254e;
			background-color: #ffa820;
			border: 2px solid #ffa820;
			margin-right: 20px;
		}

		&:last-child {
			border: 2px solid #fff;
			color: #fff;
			
		}
	}


}