
.contact__btn:after, .contact__form:after {
  display: table;
  clear: both;
  overflow: hidden;
  content: '';
}

.contact {
  background-color: $primary-color;
}

.contact__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #ffa820;
  font-size: 30px;
  text-align: center;
  padding-top: 65px;
  margin-bottom: 20px;
}

.contact__paragraph {
  color: #ccc;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

.contact__form {
  padding-bottom: 70px;
  margin: 0 15%;
}

.form__icon {
  font-family: 'FontAwesome';
  color: #ccc;
  font-style: normal;
  position: relative;
  font-size: 13px;
}

.form__icon-user:after {
  position: absolute;
  content: "\f007";
  padding: 13px 0 0 15px;
}

.form__icon-tag:after {
  position: absolute;
  content: "\f02b";
  padding: 13px 0 0 15px;
}

.form__icon-envelope:after {
  position: absolute;
  content: "\f0e0";
  padding: 13px 0 0 15px;
}

.contact__input {
  background: none;
  border: 2px solid #fff;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  padding: 10px 0 10px 35px;
  box-sizing: border-box;
  width: 30.33%;
  margin-bottom: 20px;
  color: #ccc;
}

.contact__item {
  &:nth-child(1) {
    margin-right: 3.5%;
  }
  &:nth-last-child(3) {
    margin-left: 3.5%;
  }
}

.contact__text {
  background: none;
  border: 2px solid #fff;
  font-size: 13px;
  width: 100%;
  padding: 8px 0 0 35px;
  margin-bottom: 20px;
  height: 250px;
  box-sizing: border-box;
  color: #ccc;
  font-family: Lato, sans-serif;
}

.form__icon-pencil:after {
  position: absolute;
  content: "\f044";
  padding: 11px 0 0 15px;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: #ccc;
}

/* Firefox 19+ */
/* Firefox 18- */

.contact__btn {
  width: 138px;
  background-color: $accent-color;
  border: none;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: $primary-color;
  height: 50px;
  float: right;
}

.fa-paper-plane {
  padding-right: 6%;
}

@media screen and (max-width: 767px) {
  .contact__input {
    width: 100%;
  }
  .contact__item {
    &:nth-child(1) {
      margin-right: 0;
    }
    &:nth-last-child(3) {
      margin-left: 0;
    }
  }
}