.comment__btn:after, .comment__form:after {
  display: table;
  clear: both;
  overflow: hidden;
  content: '';
}

.comment__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #353564;
  font-size: 25px;
  line-height: 1.5;
  padding-top: 65px;
  margin-bottom: 25px;
}

.comment__form {
  padding-bottom: 70px;
}

.comment__icon {
  font-family: 'FontAwesome';
  color: #ccc;
  font-style: normal;
  position: relative;
  font-size: 13px;
}

.comment__icon-user:after {
  position: absolute;
  content: "\f007";
  padding: 13px 0 0 15px;
}

.comment__icon-envelope:before {
  position: absolute;
  content: "\f0e0";
  padding: 13px 0 0 15px;
}

.comment__input {
  background: none;
  border: 2px solid #25254e;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  padding: 10px 0 10px 35px;
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 20px;
  color: #ccc;
}

.comment__text {
  background: none;
  border: 2px solid #25254e;
  font-size: 13px;
  width: 100%;
  padding: 8px 0 8px 35px;
  margin-bottom: 20px;
  height: 250px;
  box-sizing: border-box;
  color: #ccc;
}

.comment__icon-comment:before {
  position: absolute;
  content: "\f075";
  padding: 11px 0 0 15px;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: #ccc;
}

/* Firefox 19+ */
/* Firefox 18- */

.comment__btn {
  width: 270px;
  background-color: #ffa820;
  border: none;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #25254e;
  height: 50px;
  float: right;
}

.fa-paper-plane {
  padding-right: 6%;
}

@media screen and (max-width: 767px) {
  // .comment__input {
  // 	width: 100%;
  // }
  .contact__input {
    &:nth-child(1) {
      margin-right: 0;
    }
    &:nth-last-child(3) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .comment__input {
    width: 100%;
  }
  .comment__btn {
    width: 138px;
  }
}