.movie-cast {
  padding: 33px 33px 13px;
  background-color: #f7f7f7;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 40%;
  font: $base-font;
  box-sizing: border-box;
  position: absolute;
}

@include tablet {

.movie-cast {
  position: static;
  width: 100%;
  margin-top: 30px;
}

}

@include mobile {

.movie-cast {
  position: static;
  width: 100%;
  margin-top: 30px;
}

}

.movie-cast-item-photo-column {
  float: left;
  width: 16%;
  margin-right: 4%;
}

@include tablet {

.movie-cast-item-photo-column {
  float: left;
  width: 12%;
  margin-right: 4%;
}

}

@include mobile {

.movie-cast-item-photo-column {
  float: left;
  width: 12%;
  margin-right: 4%;
}

}

.movie-cast-item-text-column {
  float: left;
  width: 80%;
}

@include tablet {

.movie-cast-item-text-column {
  float: left;
  width: 84%;
}

}

@include mobile {

.movie-cast-item-text-column {
  float: left;
  width: 84%;
}

}

.movie-cast-item-photo-column img {
  width: 100%;
  max-width: 60px;
}

.movie-cast-title {
  font-size: 25px;
  color: #25254e;
  font-weight: 400;
  margin-bottom: 20px;
}

.movie-cast-name {
  color: #676767;
  font-size: 13px;
  margin: 20px 0;
}

@include mobile {

.movie-cast-name {
  margin: 0 0;
}

}

// @include tablet {

// .movie-cast-name {
//   margin: 0 0;
// }

// }

.movie-cast-role {
  color: #ffa820;
  font-size: 13px;
}

@include mobile {

.movie-cast-role {
  display: block;
  padding-top: 5px;
}

}

.movie-cast-item {
  margin-bottom: 28px;
}

@include tablet {
  .movie-cast-item {

    margin-bottom: 15px;

  }
}