.movie-reviews {
  padding: 33px 33px 13px;
  background-color: #f7f7f7;
  float: left;
  width: 57%;
  margin-right: 3%;
  font: $base-font;
  box-sizing: border-box;
}

@include tablet {

.movie-reviews {
  float: none;
  width: 100%;
  margin-right: 0;
  margin-top: 30px;
}

}

@include mobile {

.movie-reviews {
  float: none;
  width: 100%;
  margin-right: 0;
  margin-top: 30px;
}

}

.movie-reviews-item {
  margin-bottom: 20px;
}

.movie-reviews-title {
  font-size: 25px;
  color: #25254e;
  font-weight: 400;
  margin-bottom: 20px;
}

.movie-reviews-item-photo-column {
  float: left;
  width: 12%;
  margin-right: 4%;
}

.movie-reviews-item-photo-column img {
  width: 100%;
  max-width: 60px;
}

.movie-reviews-item-text-column {
  float: left;
  width: 84%;
}

.movie-reviews-name {
  color: #676767;
  font-size: 13px;
  margin: 20px 0;
}

@include mobile {

.movie-reviews-name {
  margin: 0 0;
}

}

// @include tablet {

// .movie-reviews-name {
//   margin: 0 0;
// }

// }

.movie-reviews-profession {
  color: #ffa820;
  font-size: 13px;
}

.movie-reviews-text {
  color: #aeaeae;
  font-size: 13px;
  line-height: 22px;
}

.review-rating {
  margin-left: 20px;
}

@include mobile {

.review-rating {
  display: block;
  padding-top: 5px;
  margin-left: 0;
  margin-bottom: 5px;
}

}