.movie-reviews {
  padding: 33px 33px 13px;
  background-color: #f7f7f7;
  float: left;
  width: 50%;
  margin-right: 5%;
  font: $base-font;
}

.movie-reviews-item {
  margin-bottom: 20px;
}

.movie-reviews-title {
  font-size: 25px;
  color: #25254e;
  font-weight: 400;
  margin-bottom: 20px;
}

.movie-reviews-item-photo-column {
  float: left;
  width: 10%;
  margin-right: 4%;
}

.movie-reviews-item-photo-column img {
  width: 60px;
  height: 60px;
}

.movie-reviews-item-text-column {
  float: left;
  width: 86%;
}

.movie-reviews-name {
  color: #676767;
  font-size: 13px;
  margin: 20px 0;
}

.movie-reviews-profession {
  color: #ffa820;
  font-size: 13px;
}

.movie-reviews-text {
  color: #aeaeae;
  font-size: 13px;
  line-height: 22px;
}

.review-rating {
  margin-left: 20px;
}